html{
    height: 100%;
}

.App {
    background-color: #171717;
    color: #E5E5E5;
    /*flex: 1 0 auto;*/
}
.side-menu {
    display: none;
}

.number__logo{
    fill: #E5E5E5;
}

/*
@media (prefers-color-scheme: dark){
    .App{
        background-color: #171717;
        color: #E5E5E5;
    }
}*/

.navigation{
    border-bottom: 2px solid rgb(87, 87, 87, 0.5);
}

a{
    text-decoration: none;
    border: none
}

.nav--list{
    height: 85px;
    /*padding: 0 20px 0 20px;*/
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    /*gap: 10%;*/
}

.nav--list-item{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #E5E5E5;
    white-space: nowrap;
}

.nav--list-item:nth-child(2),
.nav--list-item:nth-child(3),
.nav--list-item:nth-child(4),
.nav--list-item:nth-child(5),
.nav--list-item:nth-child(6){
    margin: 0 35px 0 35px;
}

.nav--list-item:first-child{
    margin-right: auto;
    margin-left: 30px;
}

.nav--list-item:nth-child(7){
    margin-left: auto;
    margin-right: 30px;
}

.nav--list-item-link,
.sidebar--list-item-link,
.sidebar--list-item-link path{
    color: #E5E5E5;
    cursor: pointer;
    transition: 0.7s;
    fill: #E5E5E5;
}

.nav--list-item-link:hover,
.sidebar--list-item-link:hover,
.sidebar--list-item-link:hover path{
    color: #DA0038;
    transition: 0.7s;
    fill: #DA0038;
}

@media (max-width: 1050px) {

    .nav--list-item:first-child {
        margin-right: auto;
        margin-left: 10px;
    }

    .nav--list-item:nth-child(2),
    .nav--list-item:nth-child(3),
    .nav--list-item:nth-child(4),
    .nav--list-item:nth-child(5),
    .nav--list-item:nth-child(6){
        margin: 0 15px 0 15px;
    }

    .nav--list-item:nth-child(7) {
        margin-left: auto;
        margin-right: 10px;
    }
}

@media (max-width: 850px) {
    .nav--list-item:first-child {
        margin-right: 10px;
        margin-left: 10px;
    }

    .nav--list-item:nth-child(7) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .nav--list{
        flex-wrap: wrap;
    }

}

@media (max-width: 500px) {

    .navigation{
        height: 20px;
    }

    .nav{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #171717;
        overflow: hidden;
        margin-top: -28px;
        padding-top: 40px;
        z-index: 99998;
    }
    .nav--list a{
        display: block;
        padding: 30px;
        color: white;
    }
    .nav--list a:hover{
        background-color: gray;
    }
    .nav{
        max-height: 0;
        transition: max-height .5s ease-out;
    }

    /* Menu Icon */
    .hamb{
        cursor: pointer;
        float: right;
        padding: 0 45px;        
    }/* Style label tag */
    
    .hamb-line {
        background: white;
        display: block;
        height: 2px;
        position: fixed;
        width: 24px;
        top: 15px;
        right: 25px;
        z-index: 99999;
        
    } /* Style span tag */
    
    .hamb-line::before,
    .hamb-line::after{
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    .hamb-line::before{
        top: 5px;
    }
    .hamb-line::after{
        top: -5px;
    }

    /* Toggle menu icon */
    .side-menu:checked ~ nav{
        max-height: 100%;
    }
    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }
    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top:0;
    }
    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top:0;
    }

    .nav--list{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
}   

/*
@media (prefers-color-scheme: dark){
    .nav--list-item-link,
    .sidebar--list-item-link,
    .sidebar--list-item-link path{
        color: #E5E5E5;
        cursor: pointer;
        transition: 0.7s;
        fill: #E5E5E5;
    }

    .nav--list-item-link:hover,
    .sidebar--list-item-link:hover,
    .sidebar--list-item-link:hover path{
        color: #DA0038;
        transition: 0.7s;
        fill: #DA0038;
    }

    .number__logo{
        fill: #E5E5E5;
    }

    .nav--list-item{
        color: #E5E5E5;
    }
}*/

.main__container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main{
    display: flex;
    flex-direction: row;
}

.shopping_cart{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 90vh;
    padding-right: 150px;
}

.shopping_cart-button{
    border: 3px solid #D6814A;
    border-radius: 30px;
    background-color: #171717;
    cursor: pointer;
}

/*.shop{
    display: none;
}*/

/*/////////////////////////////////////////////////////////////////////////////*/
/*кнопка с сайта + выдвижная панель*/
#side-checkbox {
    display: none;
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: -360px;
    background: #171717;
    border: 2px solid #292929;
    transition: all 0.5s;   
    width: 320px;
    height: 100vh;
    
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #E5E5E5;
    padding: 40px 20px;
}
.side-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #E5E5E5;
}

.text-right-list{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #E5E5E5;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
    height: 60vh;
    border-bottom: 2px solid #292929;
    border-top: 2px solid #292929;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-bottom: 100px;*/
}

#text{
    width: 200px;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
     /* Контейнер для кнопки, чтобы было удобнее ее разместить */
    
    position: fixed;
    right: 100px;
    top: 80vh;  
}

@media (max-width: 1100px) {
    .side-button-1-wr {  
       right: 30px;
       top: 80vh;  
   }
}

@media (max-width: 600px) {
    .side-button-1-wr {  
       right: 20px;
       top: 80vh;  
   }
}

.side-button-1 .side-b {
    margin: 10px;
    width: 80px;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: 3px solid #D6814A;
    border-radius: 30px;
    background-color: #D6814A;
    cursor: pointer;  
}

#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
    /*right: 260px; */
}
#side-checkbox:checked + .side-panel {
    right: 0px;
}

#side-checkbox:checked + .side-button-1-wr {
    left: 10px; 
}

@media (max-width: 500px) {

    .side-panel {   
        width: 92vw;
        right: -110vw;
    }
    #side-checkbox:checked + .side-button-1-wr {
        left: 0; 
    }
}

@media (max-width: 440px) {

    .side-panel {   
        width: 90vw;
    }
}
/* Оформление кнопки на панеле */
.side-button-2 {
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #E5E5E5;    
    transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);    
    color: #E5E5E5;
}

.side-panel-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.side-panel-btn{
    width: 150px;
    height: 40px;
    border: 3px solid #D6814A;
    border-radius: 30px;
    background-color: #171717;
    color: #E5E5E5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}

.side-panel-btn:hover{
    background-color: #D6814A;
    transition: 0.5s;
}
/*//////////////////////////////////////////////////////////////////*/
/*.shopping_cart-button:*/



.main--container{
    width: 85%;
    
    
}



.menu{
    margin: 100px 100px 150px 100px;
}

@media (max-width: 570px) {
    .menu{
        margin: 100px 40px 150px 40px;
    }
}


.menu__title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #E5E5E5;
    margin-bottom: 50px;
}

.grid__item{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

@media (max-width: 570px) {
    .grid__item{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

@media (max-width: 460px) {
    .grid__item{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

.menu__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #D6814A;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 15px;
    transition: 0.5s;
}

.menu__item:hover{
    background-color: #292929;
    transition: 0.5s;
}



.side--container{
    width: 15%;
    border-right: 2px solid rgb(87, 87, 87, 0.5);
    
}

.sidebar--list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
}





.sidebar--list-item{
    margin: 20px 0 0 30%;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    display: flex;
    
}

.sidebar--list-item-link{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1400px) {
    .sidebar--list-item{
        margin: 20px 0 0 10%; 
    }
    
    .sidebar--list-item-link{
        gap: 7px;
    }

}

@media (max-width: 1050px) {

    .sidebar--list{
        align-items: center;
    }

    .sidebar--list-item{
        margin: 20px 0 0 0; 
    }

    .sidebar--list-item-link-text{
        display: none;
    }

}

@media (max-width: 580px) {

    .sidebar--logo{
        display: none;
    }

}
/*
.images{
    width: 500px;
    height: 500px;
    background-image: url(../images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/

.img__menu{
    height: 200px;
    
}

.img__item{
    height: inherit;
}

.counter__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button__buy-food{
    background-color: transparent;
    border: 2px solid #D6814A;
    border-radius: 60px;
    transition: 0.5s;
}

.button__buy-food:hover{
    background-color: #D6814A;
}


.counter__title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
}


.title__item{
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.description__item{
    max-width: 200px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 10px;
}

.price{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.buy_item-btn{
    width: 90px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #d6834d;
    border-radius: 20px;
    color: #E5E5E5;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    transition: 0.5s;
    
}

.buy_item-btn:disabled{
    background-color:rgba(146, 146, 146, 0.5);
    border-color: rgba(182, 105, 54, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.buy_item-btn:hover{
    background-color: #D6814A;
    transition: 0.5s;
}

.footer{
    height: 200px;
    border-top: 2px solid rgb(87, 87, 87, 0.5);
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__lists{
    margin-bottom: 30px;
    margin-top: 30px;
}

.list__nav,
.list__contact{
    list-style-type: none;
}

.list__nav{
    margin-right: 150px;
}

@media (max-width: 600px){
    .list__nav{
        margin-right: 50px;
    }
}

@media (max-width: 420px){
    .list__nav{
        margin-right: 20px;
    }
}

.footer__lists{
    display: flex;
    flex-direction: row;
}

.list__nav-item,
.list__contact-item,
.policy__text{
    margin-bottom: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.container__about,
.container__delivery,
.container__main,
.container__reviews{
    /*flex: 1 0 auto;*/
    /*height: 50vh;*/
    padding: 100px 200px 100px 200px;
}


@media (max-width: 850px){
    .container__about,
    .container__delivery,
    .container__main,
    .container__reviews{
        padding: 20px 30px 20px 30px;
        margin-bottom: 100px;
    }
}

@media (max-width: 500px){
    .container__about,
    .container__delivery,
    .container__main,
    .container__reviews{
        padding: 20px 30px 20px 30px;
        margin-bottom: 0;
    }
}

.content__text-about,
.content__text-delivery,
.content__text-main,
.content__text-reviews{
    margin-right: 50px;
}

.title__about,
.title__delivery,
.title__main,
.title__reviews{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}

.content__about,
.content__delivery,
.content__main,
.content__reviews{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 660px){
    .content__about,
    .content__delivery,
    .content__main,
    .content__reviews{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .content__text-about,
    .content__text-delivery,
    .content__text-main,
    .content__text-reviews{
        margin-right: 0;
    }
}

.content__delivery{
    align-items: center;
}

.text__about,
.text__delivery,
.text__main,
.text__reviews{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 100px;
    max-width: 800px;
}

.text__delivery{
    margin-bottom: 50px;
}

.img__about,
.img__delivery,
.img__main,
.img__reviews{
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 850px){
    .img__about,
    .img__delivery,
    .img__main,
    .img__reviews{
        height: 300px;
        width: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}


.img__about{
    background-image: url(/src/images/img__about.jpg);
}

.img__delivery{
    background-image: url(/src/images/delivery_zone.JPG);
}

.img__main{
    background-image: url(/src/images/main.jpg);
}

.img__reviews{
    background-image: url(/src/images/rev.jpg);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.input {
    
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}